.login{width: 720px;margin: 0 auto;}
.login_head{height: 65px;background: #fff;margin-top: 50px;}
.login_head a{margin-right: 24px;color: #1062b6;font-size: 15px;}
.login_head a:hover{text-decoration: underline;}
.login_con{background: #fff;margin-top: 35px;}
.enroll_title1_1 {
    width: 146px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    text-indent: 20px;
    font-size: 15px;
    background: url(../images/apply_logo.png) no-repeat;
}
.regist_l {
    width: 730px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin:0 auto;
    margin-top: 40px;
    margin-bottom:50px ;
    padding-bottom: 30px;
}
ul.regform {
/*margin-top:20px;*/
}
.regist_rcen {
}
.regist_rtop, .regist_rbot {
	width:720px;
	height:10px;
	background:url(../images/registr_bot.png) no-repeat left top;
}
.regist_r {
	float:right;
	width:228px;
	overflow:hidden;
}
.regist_input {
	padding-top: 30px;
	padding-bottom: 30px;
}
input.register_btn {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-family: Ã¥Â¾Â®Ã¨Â½Â¯Ã©â€ºâ€¦Ã©Â»â€˜;
    padding: 0px 20px;
    background: rgb(217, 83, 79);
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
}
.regist_title {
	border-bottom:1px dashed #86dbf7;
	width:100%;
	padding:10px 0;
	margin-bottom:15px;
}
.registcontent {
	padding-left:30px;
	height:24px;
	margin-bottom:8px;
}
.regist_inputtitle {
	font-size:14px;
	float:left;
	width:64px;
}
.logininput, .regitstyzm {
	border:1px solid #69d0f3;
	width:204px;
	height:22px;
	margin:0 5px;
	float:left;
	line-height:22px;
}
.regitstyzm {
	width:124px;
}

.regitst_bnt a { /*color:#FFF; font-size:14px;*/
}
#btnsubmit {
	height:26px;
	width:76px;
	float:left;
	background-color:#1ab0f3;
	border:1px solid #69d0f4;
	margin:5px 5px;
	text-align:center;
	color:#FFF;
	font-size:14px;
	cursor:pointer;
}
.btnsubmitclass {
	height:26px;
	width:76px;
	float:left;
	background-color:#ddd;
	border:1px solid #ccc;
	margin:5px 5px;
	text-align:center;
	color:#000;
	font-size:14px;
	cursor:pointer;
	display:none;
}
ul.regform li .regtitle b{}
ul.regform li {
	margin: 14px 0;
	padding: 5px 4px;
	height:24px;
}
ul.regform li .regtitle {
	width: 122px;
	font-size:14px;
	color: #999;
	text-align:right;
	display:inline-block;
	height:  32px;
	line-height: 32px;
	padding-right:10px;
	vertical-align: middle;
	float:left;
}
ul.regform li .regtitle b{color: red;}
ul.regform li input {
	height: 16px;
	
	padding: 5px 8px 25px 8px;
	vertical-align:middle;
	border: 1px solid #409fe3;
	height: 16px;
    float: none;
    font-size: 14px;
    font-family: arial, å®‹ä½“;
    color: rgb(153, 153, 153);
    padding: 9px 25px 9px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}
ul.regform li .texlist {
	width: 260px;
	/* background: #f8f8f8; */
	/* border: 1px solid #d7d7d7; */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	height: 32px;
	position: relative;
}
.texlist .i-name{background: url(../images/user_img.png) no-repeat;width: 16px;height: 18px;float: right;position:  absolute;right: 20px;top: 8px;}
.texlist .i-password{background: url(../images/password_img1.png) no-repeat;width: 16px;height: 18px;/* float: right; */right: 20px;position:  absolute;top: 8px;}
ul.regform li input.tex {
	width: 215px;
	background: transparent;
}
ul.regform li input.tex:focus {
	border: 1px solid #409fe3;
}
ul.regform li input.init {
	border:1px #92C7F2 solid;
	width:210px;
	background:url(../images/reg_sp.gif) no-repeat 0 -209px
}
ul.regform li span.info {
	margin-left:10px;
	color:#ff0000
}
ul.regform li span {
	height:24px;
	line-height: 24px;
	/* background: #f7f7f7; */
	margin-left: 5px;
}
ul.regform li span.regitst_bnt{margin-left: 229px;}
ul.regform li select {
	width:260px;
	height: 32px;
	line-height: 32px;
	color:#666;	
	border: 1px solid #d7d7d7;
}
ul.regform li em.tips {
	margin-left:5px;
	width:200px;
	display:inline-block;
	vertical-align:middle;
	line-height:14px;
	color:#9D9D9D
}
ul.regform li.yzcode input {width:70px}
ul.regform li.yzcode img {vertical-align:middle;margin-right:6px}
.setps {width: 680px;height: 25px;line-height: 25px;margin:  0 auto;overflow: hidden;margin-top: 24px;background: url(../images/registxxbg.png) no-repeat;}
.setps h3 {margin: 0;float: left;font-size: 14px;color: #676765;padding-left: 10px;}
.setps span {
    float: right;
    display: inline-block;
    width: 25px;
    height: 18px;
    margin-right: 50px;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/regist_down.png) no-repeat 5px 5px;
}
.setps span.down {background: url(../images/regist_down.png) no-repeat 5px 5px;}
.setps span.up {background: url(../images/regist_up.png) no-repeat 5px 5px;}
.xiyi{text-align: center;}
.xiyi a{color: #333;}
.texlist:focus{border: 1px solid red;}
.newloginyzm a{color: #333;}
ul.regform li input.register_btn {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    background: #5166d7;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: 262px;
    text-align: center;
}
.btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
}





















