/*@charset "utf-8";

/* CSS Document */

body { font:14px/2.0 "å¾®è½¯é›…é»‘",Arial,Tahoma, Helvetica,\5b8b\4f53, sans-serif; }
html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,object,code,em,span,var,legend,button,input,textarea,th,td,a,img,header,footer,nav,aside,audio,datalist,section { margin:0;padding:0;border:0;outline:0; }/*æ¸…é™¤å†…å¤–è¾¹è·*/
h1,h2,h3,h4,h5,h6 { font-weight:normal;font-size:100%; }/*è®¾ç½®é»˜è®¤å­—ä½“*/
:focus { outline:0; }
ul,ol,ul li,ol li { list-style: none; }/*é‡ç½®åˆ—è¡¨*/
address,caption,cite,em,code,dfn,th,var { font-style:normal;font-weight:normal; }
form label { cursor:pointer; }
input,button,select,textarea { font-family:inherit;font-size:100%;outline:none; }
textarea { resize:none }
input { vertical-align:middle; }
img { border:0; }/*é‡ç½®å›¾ç‰‡å…ƒç´ */
table { border-collapse:collapse;border-spacing: 0; }/*é‡ç½®è¡¨æ ¼*/
.l,.fl { float:left; }
.r,.fr { float:right; }
button,input[type="reset"],input[type="button"],input[type="submit"] { line-height:normal !important; }
a { text-decoration:none;}
a { color:#fff;}
/*a:hover { text-decoration:underline; }*/
input { _filter:chroma(color=#000000); }
/*--æ¸…é™¤æµ®åŠ¨
------------------------------------------------------------------------------------------*/
.clearfix:after { clear:both;content:".";display:block;font-size:0;height:0;visibility:hidden; }
.clearfix:after { _zoom:1; }
.overflow { overflow:hidden; _zoom:1; }
.clear {clear:both; height:0;font-size:0; overflow:hidden; }*/




